@model PlanetsViewModel

@{
    ViewBag.Title = "Planets";
}

<h2>Milky Way Planets</h2>
@Html.Partial("_MilkyWayPlanets", Model.MilkyWayPlanets)

<h2>Star Wars Planets</h2>
@Html.Partial("_StarWarsPlanets", Model.StarWarsPlanets)


